<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - @ViewBag.Brand - <a asp-controller="Home" asp-action="About">Omar McIntosh <i class="fa-solid fa-circle-info" style="color: #42a4ff;"></i></a>
    </div>
</footer>