<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow majestic-nav">
    <div class="container-fluid">

        <a class="navbar-brand"
           asp-area=""
           asp-controller="Home"
           asp-action="Index">
            <i class="fa-solid fa-crown" style="color: #f2be02;"></i>
            @ViewBag.Brand <i class="fa-solid fa-dragon" style="color: #21b589;"></i>
            <i class="fa-solid fa-meteor fa-rotate-by fa-xs" style="color: #ff8800; --fa-rotate-angle: 240deg;"></i>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <form class="d-flex align-items-center" asp-area="" asp-controller="Home" asp-action="GeneralSearch" method="get">
                <div class="input-group">
                    <input class="form-control me-2" type="text" placeholder="Search..." name="searchString" required />
                    <select class="form-select me-2" name="searchType" required>
                        <option value="" disabled selected>Search By:</option>
                        <option value="Projects">Projects</option>
                        <option value="Tasks">Tasks</option>
                    </select>

                    <button class="btn btn-outline-success majestic-search-btn" type="submit">
                        <i class="fa-solid fa-magnifying-glass majestic-search-btn-img"></i> Find
                    </button>
                </div>
            </form>

            <ul class="navbar-nav flex-grow-1 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-hotel" style="color: #B197FC;"></i> Home
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="ProjectManagement" asp-controller="Projects" asp-action="Index">
                        <i class="fa-solid fa-clipboard" style="color: #1a9e00;"></i> Projects
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">
                        <i class="fa-solid fa-circle-info" style="color: #42a4ff;"></i> About
                    </a>
                </li>

            </ul>
        </div>

    </div>
</nav>