@{
    Layout = "_Layout";
    
    ViewBag.Page = "About";
        
    // Define variable profile variables
    var name = "Omar McIntosh";
    var stuNumber = "101032428";
    var courseCode = "COMP 2139";
    var sectionCode = "50272";   // CRN
}

<div class="majestic-view card">
    <div class ="card-body">
        <table id="about-table">
            <tr>
                <th colspan="2">
                    <h2>In-Class Assignment</h2>
                </th>
            </tr>
            <tr>
                <td class="fw-bold value"><strong>Name:</strong></td>
                <td class="value">@name</td>
            </tr>
            <tr>
                <td class="fw-bold value">Student Number:</td>
                <td class="value">@stuNumber</td>
            </tr>
            <tr>
                <td class="fw-bold value">Course Code:</td>
                <td class="value">@courseCode</td>
            </tr>
            <tr>
                <td class="fw-bold value">Section:</td>
                <td class="value">@sectionCode</td>
            </tr>
        </table>
        
        <section id="about-info">
            <p>The purpose of the In-Class Assignment (ICE) is to ...</p>
        </section>
    </div>
</div>