@{
    ViewBag.Page = "Home";
}

<div>
    <h1 class="page-title display-4 text-center">@ViewBag.Page</h1>
    
    <br/>
    <p class="text-center">This is the homepage for Omar's In-Class Assignment (ICE).</p>
</div>