@{
    Layout = "_Layout";
    
    ViewBag.Page = "Videos";
}

<div id="majestic-view">
    <h2>All ICE Demos</h2>

    <section class="iframe-majestic-demo-section">
        <h3 class="text-center">ICE 1 Video Demonstration</h3>
        <div class="demo-video">
            <iframe class="iframe-majestic-demo"
                    src="https://www.youtube.com/embed/m94wO4cPcXw?si=UYXlqoYOvAVI1x_Z"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
        <h4>My assessment: </h4>
        <p>Stuff </p>
    </section>

    
    <section class="iframe-majestic-demo-section">
        <h3 class="text-center">ICE 2 Video Demonstration</h3>
        <div class="demo-video">
            <iframe class="iframe-majestic-demo"
                    src="https://www.youtube.com/embed/AalHexTxlok?si=c7LWjV2CG86U1p2Z"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
        </div>
        <h4>My assessment: </h4>
        <p>Stuff </p>
    </section>
    
    <section class="iframe-majestic-demo-section">
        <h3 class="text-center">ICE 3 Video Demonstration</h3>
        <h4>My assessment: </h4>
        <p>Stuff </p>
    </section>
</div>
