@{
    Layout = "_Layout";
    
    ViewBag.Page = "Videos";
}

<div class="card">
    <div class="card-body">
        <section class="iframe-majestic-demo-section">
            <h2 class="text-center">ICE 1 Video Demonstration</h2>
            <iframe class="iframe-majestic-demo"
                width="560" height="315" src="https://www.youtube.com/embed/m94wO4cPcXw?si=UYXlqoYOvAVI1x_Z"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
            <h3>My assessment: </h3>
            <p>Stuff </p>
        </section>

        <section class="iframe-majestic-demo-section">
            <h2 class="text-center">ICE 2 Video Demonstration</h2>
            <iframe class="iframe-majestic-demo"
                    width="560" height="315" src="https://www.youtube.com/embed/AalHexTxlok?si=c7LWjV2CG86U1p2Z"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
            </iframe>
            <h3>My assessment: </h3>
            <p>Stuff </p>
        </section>
        
        <section class="iframe-majestic-demo-section">
            <h2 class="text-center">ICE 3 Video Demonstration</h2>
            <h3>My assessment: </h3>
            <p>Stuff </p>
        </section>
        
    </div>
</div>
