@page
@model LogoutModel
@{
    ViewBag.Title = "Log out";
}


<div class="majestic-view">
    <section>
        <h2>@ViewBag.Title</h2>
        @{
            if (User.Identity?.IsAuthenticated ?? false)
            {
                <form id="majestic-form" class="form-inline"
                      asp-area="Identity"
                      asp-page="/Account/Logout"
                      asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="button button-delete">Click here to Logout</button>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </section>
</div>