body {
    /*box-sizing: border-box;*/
    --color-strong-warning: red;
    
    --color-majestic-brand-1: #ff8c3a;      /* Title */
    --color-majestic-brand-2: lightyellow;  /* Nav/footer */
    --color-majestic-brand-3: #42a4ff;      /* Sides */
    /*--color-majestic-brand-3: #6ce7ff;*/
    --color-majestic-accent: #ff8c3a;
    /*--color-majestic-accent: #ff8c3a;*/
    /*--color-majestic-accent: mediumslateblue;*/
    
    --color-majestic-text-title: white;
    --color-majestic-text-main: black;
    --color-majestic-border-1: black;
    
    --color-majestic-logo-1: var(--color-majestic-brand-1);
    --color-majestic-logo-2: var(--color-majestic-brand-2);
    --color-majestic-logo-3: var(--color-majestic-brand-3);
    
    --color-majestic-logo-crown: #f2be02;
    --color-majestic-logo-dragon: #21b589;
}

.page-title {
    margin: 0;
    background-color: var(--color-majestic-brand-1);
    color: var(--color-majestic-text-title);
}
.page-subtitle {
    border-bottom: 1px solid var(--color-majestic-text-title);
    color: var(--color-majestic-brand-3);
}

.not-found-db {
    background: yellow;
    color: black;
}
.not-found-fatal {
    background: var(--color-strong-warning);
    color: black;
}
.confirm-delete {
    margin-left: 1em;
    padding: 5px;
    border: 1px solid var(--color-strong-warning);
    border-radius: 5px;
    background: var(--color-strong-warning);
    
    color: white;   /* Play with the contrast of this */
}

/* Layout */
#layout-flex-vert {
    height: 100vh;
    background-color: var(--color-majestic-brand-3);
    /*background-color: var(--color-majestic-accent);*/
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    
}
#layout-header {
    border-top: 1px var(--color-majestic-border-1) solid;
    border-bottom: 1px var(--color-majestic-border-1) solid;
}
#layout-renderbody {
    width: 90%;
    height: 100%;
    margin: 1em auto;
    border-left: 1px var(--color-majestic-border-1) solid;
    border-right: 1px var(--color-majestic-border-1) solid;
    background: white;
    /*background: var(--color-majestic-brand-1);*/
}
#layout-footer {
    border-top: 1px var(--color-majestic-border-1) solid;
    border-bottom: 1px var(--color-majestic-border-1) solid;
}

.majestic-nav,.majestic-footer {
    background-color: var(--color-majestic-brand-2);    
    /*background-color: var(--color-majestic-brand-2);*/
}
.majestic-nav {}
.majestic-footer {}
.majestic-search-btn {
    background-color: var(--color-majestic-brand-1);
    color: var(--color-majestic-text-title);
}
.majestic-search-btn-img {
    color: var(--color-majestic-text-title);
}

.majestic-view {
    height: 100%;
    background-color: white;
    overflow: hidden;
}
.majestic-view img {
    /*margin-top: 1em;*/
    /*border-top: solid 2px white;*/
}

/* Views */
.table-majestic-list {
    width: 100%;
    height: fit-content;
    margin-top: 1rem;   /* Spacing after "Crate New Project" button */
    color: var(--color-majestic-text-main);
}
.table-majestic-list thead {
    border: 1px solid var(--color-majestic-border-1);
    background-color: var(--color-majestic-brand-1);
    color: var(--color-majestic-text-title);    
}
.table-majestic-list th {
    padding: 0.5em;
    text-align: center;
}
.table-majestic-list tbody {
    padding: 1em;
    vertical-align: top;
    color: var(--color-majestic-text-main);
}
.table-majestic-list tbody tr {
    height: 100%;
    border-bottom: 1px solid var(--color-majestic-border-1);
}
.table-majestic-list tbody td {
    height: 100%;
}
.table-majestic-list tbody td.block {
    height: 100%;
}
.table-majestic-list-btn-col {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}
.table-majestic-list-btn-col a {
    margin: 0.25em 0;
}

/* About Page */
#about-table {
    margin: auto;
    border: 3px solid var(--color-majestic-brand-1);
    border-collapse: collapse;
}
#about-table th {
    padding: 0 1em;
    background-color: var(--color-majestic-brand-1);
    color: var(--color-majestic-text-title);
}
#about-table td {
    background-color: var(--color-majestic-brand-2);
    border: 1px var(--color-majestic-brand-1) solid;
}
td.value {
    padding-left: 20px;   /* "Tab" spacing */
}

#about-info {
    margin-top: 3rem;   /* Spacing after ... */
    /*border: 1px solid var(--color-majestic-border-1);*/
}

/* Videos Page */
.iframe-majestic-demo-section {
    border: 1px solid var(--color-majestic-border-1);
    margin-top: 3rem;
    background-color: var(--color-majestic-brand-2);
}
.iframe-majestic-demo-section h2 {
    background-color: var(--color-majestic-brand-1);
    border-bottom: 1px solid var(--color-majestic-border-1);
    color: var(--color-majestic-text-title);
}
.iframe-majestic-demo-section h3, p {
    margin: 1rem 0 1rem 1rem;
}
.iframe-majestic-demo {
    margin: auto;
    display: block;
}