body {
    background: lightgrey;
    
    --color-strong-warning: red;
}

.page-title {
    color: #0d6efd;
}
.page-subtitle {
    color: #ff8c3a;
}

.not-found-db {
    background: yellow;
    color: black;
}
.not-found-fatal {
    background: var(--color-strong-warning);
    color: black;
}
.confirm-delete {
    margin-left: 1em;
    padding: 5px;
    border: 1px solid var(--color-strong-warning);
    border-radius: 5px;
    background: var(--color-strong-warning);
    
    color: white;   /* Play with the contrast of this */
}


/* About Page */
#about {
}
td {
}
td.value {
    padding-left: 20px;   /* "Tab" spacing */
}