@model Project

@{
    Layout = "_Layout";
    
    ViewBag.Page = "Create Project";
}

<div id="majestic-view">
    @* <h1 class="display-4 page-title text-center">@ViewBag.Page</h1> *@
    <h2>Useful Title</h2>
    <div class="">
        <form id="majestic-form" asp-action="Create" method="post">
            <div class="majestic-form-row">
                <label asp-for="Name" class=""></label>
                <input asp-for="Name" class=""/>
                @* "asp-validation-for" shows warnings for items that failed validation*@
                <span asp-validation-for="Name" class="majestic-form-validation"></span>
            </div>

            <div class="majestic-form-row">
                <label asp-for="Description" class=""></label>
                <textarea asp-for="Description" class=""></textarea>
                <span asp-validation-for="Description" class="majestic-form-validation"></span>
            </div>

            <div class="majestic-form-row">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" type="date" class="form-control"></input>
                <span asp-validation-for="StartDate" class="majestic-form-validation"></span>
            </div>

            <div class="majestic-form-row">
                <label asp-for="EndDate" class=""></label>
                <input asp-for="EndDate" type="date" class=""></input>
                <span asp-validation-for="EndDate" class="majestic-form-validation"></span>
            </div>

            <div class="majestic-form-row">
                <label asp-for="Status" class=""></label>
                <select asp-for="Status" class="">
                    <option value="">Select a Status</option>
                    <option value="New">New</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Complete">Complete</option>
                </select>
            </div>

            <div class="majestic-form-buttons">
                <br/>
                <input type="submit" value="Create" class="button button-create">
                <a asp-action="Index" class="button button-primary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}