@model Project

@{
    Layout = "_Layout";
    
    ViewBag.Page = "Edit Project";
}

<div id="majestic-view">
    <h2>Useful Title</h2>
    <form id="majestic-form" asp-action="Edit" method="post">
        @* Hidden field sends related ProjectId with form data *@
        @Html.HiddenFor(model => model.ProjectId)

        <div class="majestic-form-row">
            <label asp-for="Name" class=""></label>
            <input asp-for="Name" class=""/>
            <span asp-validation-for="Name" class="majestic-form-validation"></span>
        </div>

        <div class="majestic-form-row">
            <label asp-for="Description" class=""></label>
            <textarea asp-for="Description" class=""></textarea>
            <span asp-validation-for="Description" class="majestic-form-validation"></span>
        </div>

        <div class="majestic-form-buttons">
            <br/>
            <input type="submit" value="Edit" class="button button-edit">
            <a asp-action="Index" class="button button-primary">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}