@model ProjectTask

@{
    Layout = "_Layout";
    
    ViewBag.Page = "Create Task";
}

<div id="majestic-view">
    <h2>Useful Title</h2>

    <form id="majestic-form" asp-action="Create" method="post">
        @Html.HiddenFor(model => model.ProjectId)
        <div class="majestic-form-row">
            <label asp-for="Title" class=""></label>
            <input asp-for="Title" class=""/>
            @* "asp-validation-for" shows warnings for items that failed validation*@
            <span asp-validation-for="Title" class="majestic-form-validation"></span>
        </div>


        <div class="majestic-form-row">
            <label asp-for="Description" class=""></label>
            <textarea asp-for="Description" class=""></textarea>
            <span asp-validation-for="Description" class="majestic-form-validation"></span>
        </div>

        <div class="majestic-form-buttons">
            <br/>
            <input type="submit" value="Create" class="button button-create">
            <a asp-action="Index" asp-route-projectId="@Model.ProjectId" class="button button-primary">Cancel</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}